#Contact{
    margin-top:50px;
    overflow: hidden;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.contact-header{
    display: flex;
    color:#1f487e;
    font-size: 40px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    margin-bottom: 50px;
}

.cont-subheader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-30px auto;
    margin-bottom: 30px;
    color: #7e8184;
    font-weight: 300;
}

.socials{
    display: flex;
    margin:60px auto;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.contactform{
    display: flex;
    flex-direction: column;
    margin:20px auto;
    justify-content: center;
    align-items: center;
    width:80vw;
    max-width: 800px;
    /* background-color: #aecbeb; */
    padding:20px;
    padding-top:40px;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}



.name, .email, .msg {
    font-size: 16px;
    width:90%;
    max-width:640px;
    margin: 16px auto;
    padding:15px 15px;
    padding-top:15px;
    border:none;
    border-radius:8px;
}

.name:focus, .email:focus, .msg:focus {
    outline-color: #71a5de;
}

.submitbtn{
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid #1f487e;
    background: transparent;
    color: #1f487e;
    transition: 0.2s all;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.submitbtn:hover{
    background: #1f487e;
    color:#e1ecf7; 
}

.submitbtn:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
}
